.about {
  // background-color: yellowgreen;
  background-color: $color-grey-light-1;

  grid-column: full-start / full-end;

  padding: 10rem 0;

  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  grid-gap: 5rem;

  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  overflow-x: hidden;

  @media only screen and (max-width: $bp-large) {
    padding: 5rem 0 7.5rem 0;
  }

  &__title {
    // background-color: blue;

    grid-row: 1 / 2;
    grid-column: center-start / center-end;
    text-align: center;
    margin-bottom: 5rem;
  }

  &__features {
    // background-color: red;

    grid-row: 2 / 3;
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: start;

    text-align: center;

    padding: 5rem;

    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);

    @media only screen and (max-width: $bp-large) {
      grid-template-columns: auto;
    }

    &-1,
    &-2,
    &-3,
    &-4 {
    }

    &--img {
      color: white;
      font-size: 7.5rem;
      background-color: $color-primary;
      background-size: 10rem;
      padding: 2rem;
      margin-bottom: 1rem;

      // clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
      // clip-path: polygon(
      //   25% 10%,
      //   75% 10%,
      //   100% 50%,
      //   100% 50%,
      //   75% 90%,
      //   25% 90%,
      //   0 50%,
      //   0 50%
      // );
      clip-path: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
      );
    }
  }
}
