.business {
  // background-color: yellowgreen;
  background-color: $color-white;

  grid-column: center-start / center-end;

  padding: 10rem 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-gap: 5rem;

  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  &__photo {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    grid-gap: 1.5rem;
    padding: 1.5rem;

    // width: 10%;
    // height: 10%;
    object-fit: cover;

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    &--1 {
      max-width: 7.5rem;
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }

    &--2 {
      max-width: 15rem;
      grid-row: 1 / 2;
      grid-column: 2 / 4;
    }

    &--3 {
      max-width: 7.5rem;
      grid-row: 1 / 2;
      grid-column: 4 / 5;
    }

    &--4 {
      max-width: 15rem;
      grid-row: 2 / 3;
      grid-column: 2 / 4;
    }

    &--5 {
      max-width: 7.5rem;
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    &--6 {
      max-width: 7.5rem;
      grid-row: 2 / 3;
      grid-column: 4 / 5;
    }

    &--7 {
      max-width: 7.5rem;
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }

    &--8 {
      max-width: 7.5rem;
      grid-row: 3 / 4;
      grid-column: 4 / 5;
    }

    &--9 {
      max-width: 15rem;
      grid-row: 3 / 4;
      grid-column: 2 / 4;
    }
  }

  &__content {
    text-align: center;
    padding: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      font-weight: 700;
      font-size: 3.5rem;
    }

    &__text {
      padding-bottom: 3.5rem;
    }

    &__btn {
      margin: 0 auto;
      max-width: 20rem;
    }
  }
}
