.contentHeader {
  // background-color: red;

  grid-row: 1 / 2;
  grid-column: full-start / full-end;

  display: grid;

  justify-content: center;
  align-content: start;
  align-items: center;
  justify-items: center;
  grid-gap: 3rem;

  text-align: center;

  &__head {
    color: $color-white;

    background-color: $color-grey-dark-5;

    padding: 15rem 0 10rem 0;
    width: 100vw;

    h1,
    h2 {
      color: inherit;
    }

    &--stats {
      display: grid;
      justify-content: center;
      grid-auto-flow: column;
      grid-gap: 3rem;
    }

    &--rating {
    }

    &--star {
      height: 2rem;
      width: 2rem;
      margin-right: 1px;

      &--active {
        fill: #55c57a;
      }
      &--inactive {
        fill: #bbb;
      }
    }

    &--about {
      display: grid;
      justify-content: center;
      grid-auto-flow: column;
      grid-gap: 3rem;

      &--created {
        &--by {
          color: $color-primary;
        }
      }

      &--updated {
      }
    }

    &--lang {
      display: grid;
      justify-content: center;
      grid-auto-flow: column;
      // align-items: center;
      // justify-items: center;
      grid-gap: 3rem;

      &--sound {
        ion-icon {
          vertical-align: middle;
          font-size: 2rem;
        }
      }

      &--subs {
        ion-icon {
          vertical-align: middle;
          font-size: 2rem;
        }
      }
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 30rem));
    grid-template-rows: repeat(2, min-content);
    grid-gap: 5rem;

    &--left {
      background-color: $color-grey-light-1;
      // width: 30rem;

      padding: 2rem;
      &--img {
        width: 28rem;
        padding-bottom: 1rem;
      }
    }

    &--card {
      grid-row: 1 / 2;
      grid-column: 3 / 4;

      box-shadow: 0 0 1px 1px rgba($color-black, 0.1),
        0 3px 1px 0 rgba($color-black, 0.1);
    }

    &--right {
      padding: 3rem;
      text-align: left;

      &--title {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 2rem;
      }
      &--content {
        &--row {
          ion-icon {
            margin-right: 1rem;
            vertical-align: middle;
            color: $color-secondary;
          }
        }
      }
    }

    &--learn {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
      box-shadow: 0 0 1px 1px rgba($color-black, 0.1),
        0 3px 1px 0 rgba($color-black, 0.1);

      background-color: $color-grey-light-1;
      padding: 3rem;

      &--title {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 3rem;
      }

      &--content {
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2.5rem;

        ion-icon {
          vertical-align: middle;
          color: $color-secondary;
          font-size: 2rem;
        }
      }

      &--row {
        margin-bottom: 1rem;
      }

      &--column-1 {
        border-right: 1px solid $color-grey-light-2;
        padding-right: 2.5rem;
      }

      &--column-2 {
      }
    }
  }
}
