.courses {
  // background-color: greenyellow;

  grid-column: center-start / center-end;

  // padding: 10rem 0;
  // grid-gap: 5rem;

  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  margin: 10rem 0;

  &__heading {
    // background-color: blue;

    text-align: center;
    margin-bottom: 5rem;
  }

  &__content {
    // background-color: red;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    text-align: center;

    grid-gap: 5rem;
    // padding: 0 2rem;
  }
}
