.feedback {
  // background-color: greenyellow;

  grid-column: full-start / full-end;

  padding: 10rem 0;
  // grid-gap: 5rem;

  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  text-align: center;

  grid-gap: 10rem;

  @media only screen and (max-width: $bp-smallest) {
    padding: 5rem 0 7.5rem 0;
  }

  &__leave-review {
    background-color: $color-grey-light-1;
  }

  &__title {
    grid-row: 1 / 2;
    grid-column: center-start / center-end;
  }

  &__subtitle {
    display: grid;
    grid-auto-flow: column;

    grid-row: 2 / 3;
    grid-column: center-start / center-end;

    grid-gap: 3rem;

    vertical-align: middle;

    font-size: 3rem;
    font-weight: 500;

    padding: 2rem;

    box-shadow: 0 0 1px 1px rgba($color-black, 0.1),
      0 3px 1px 0 rgba($color-black, 0.1);

    padding: 1rem;
    // background-color: $color-grey-light-1;

    ion-icon {
      margin: auto 0;
    }

    &--lr {
      background-color: $color-white;
    }

    &--rating {
      display: flex;
      align-items: center;
    }

    &--star {
      height: 3rem;
      width: 3rem;
      margin-right: 1px;

      vertical-align: middle;

      &--active {
        fill: #55c57a;
      }
      &--inactive {
        fill: #bbb;
      }
    }
  }

  &__content {
    // background-color: red;

    display: grid;
    // grid-column: 1 / -1;
    grid-row: 3 / 4;
    grid-column: center-start / center-end;

    // justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    text-align: center;

    width: 100%;
    // min-width: 99%;

    grid-gap: 5rem;

    // padding: 0 2rem;

    &--review {
      display: flex;
      // justify-content: center;
      // align-content: center;
      // justify-items: left;
      // align-items: center;

      background-color: $color-grey-light-1;

      box-shadow: 0 0 1px 1px rgba($color-black, 0.1),
        0 3px 1px 0 rgba($color-black, 0.1);
      padding: 2rem;

      width: 100%;
      max-width: 90rem;

      @media only screen and (max-width: $bp-smallest) {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;

        align-items: center;
      }

      &--lr {
        background-color: $color-white;
      }

      &--col-1 {
        grid-column: 1 / 2;

        border-right: 1px solid $color-grey-light-3;

        padding: 3rem 5rem 3rem 3rem;

        width: 30rem;

        @media only screen and (max-width: $bp-smallest) {
          grid-column: 1 / -1;
          grid-row: 1 / 2;

          width: auto;

          padding: 2rem;

          border-right: 0;
          border-bottom: 1px solid $color-grey-light-3;
        }
      }

      &--col-2 {
        grid-column: 2 / 3;

        padding: 3rem;

        width: 100%;

        // @media only screen and (max-width: $bp-medium) {
        //   min-width: 40rem;
        // }
        @media only screen and (max-width: $bp-smallest) {
          grid-column: 1 / -1;
          grid-row: 2 / 3;

          padding: 2rem;
        }
      }

      &--admin {
        grid-column: 1 / 3;
        grid-row: 2 / 3;

        margin-top: 3rem;
        padding: 3rem 1rem 1rem 1rem;

        display: flex;
        justify-content: space-around;

        border-top: 1px solid $color-grey-light-3;

        @media only screen and (max-width: $bp-smallest) {
          grid-column: 1 / -1;
          grid-row: 3 / 4;

          padding: 2rem;
        }
      }

      &--img {
        max-width: 10rem;

        clip-path: polygon(
          30% 0%,
          70% 0%,
          100% 30%,
          100% 70%,
          70% 100%,
          30% 100%,
          0% 70%,
          0% 30%
        );
      }

      &--rating {
        margin-bottom: 3rem;
      }

      &--course {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 2rem;
        padding-bottom: 2rem;

        border-bottom: 1px solid $color-grey-light-3;
      }

      &--star {
        height: 3rem;
        width: 3rem;
        margin-right: 1px;

        vertical-align: middle;

        &--active {
          fill: #55c57a;
        }
        &--inactive {
          fill: #bbb;
        }
      }

      &--name {
        font-size: 2rem;
      }

      &--occupation {
        font-size: 1.75rem;
      }

      &--country {
        font-style: italic;
        font-size: 1.75rem;

        padding-bottom: 2rem;
      }

      &--date {
      }
    }
  }
}
