.feedback {
  // background-color: greenyellow;

  grid-column: center-start / center-end;

  padding: 10rem 0;
  // grid-gap: 5rem;

  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  text-align: center;

  grid-gap: 10rem;

  @media only screen and (max-width: $bp-smallest) {
    padding: 5rem 0 7.5rem 0;
  }

  &__title {
  }

  &__subtitle {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 3rem;

    vertical-align: middle;

    font-size: 3rem;
    font-weight: 500;

    box-shadow: 0 0 1px 1px rgba($color-black, 0.1),
      0 3px 1px 0 rgba($color-black, 0.1);

    padding: 1rem;
    // background-color: $color-grey-light-1;

    &--rating {
      display: flex;
      align-items: center;
    }

    &--star {
      height: 3rem;
      width: 3rem;
      margin-right: 1px;

      vertical-align: middle;

      &--active {
        fill: #55c57a;
      }
      &--inactive {
        fill: #bbb;
      }
    }
  }

  &__content {
    // background-color: red;

    display: grid;
    // grid-template-columns: repeat(3, 1fr);

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    text-align: center;

    grid-gap: 5rem;
    // padding: 0 2rem;

    &--review {
      display: grid;
      // justify-content: center;
      // align-content: center;
      // justify-items: center;
      // align-items: center;

      // text-align: center;

      grid-template-columns: max-content, auto;

      background-color: $color-grey-light-1;

      box-shadow: 0 0 1px 1px rgba($color-black, 0.1),
        0 3px 1px 0 rgba($color-black, 0.1);
      padding: 2rem;

      width: 100%;
      max-width: 90rem;

      @media only screen and (max-width: $bp-smallest) {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;

        align-items: center;
      }

      &--col-1 {
        grid-column: 1 / 2;

        border-right: 1px solid $color-grey-light-3;

        padding: 3rem 5rem 0 3rem;

        @media only screen and (max-width: $bp-smallest) {
          grid-column: 1 / -1;
          grid-row: 1 / 2;

          padding: 2rem;

          border-right: 0;
          border-bottom: 1px solid $color-grey-light-3;
        }
      }

      &--col-2 {
        grid-column: 2 / 3;

        padding: 3rem;

        @media only screen and (max-width: $bp-smallest) {
          grid-column: 1 / -1;
          grid-row: 2 / 3;

          padding: 2rem;
        }
      }

      &--img {
        max-width: 10rem;

        clip-path: polygon(
          30% 0%,
          70% 0%,
          100% 30%,
          100% 70%,
          70% 100%,
          30% 100%,
          0% 70%,
          0% 30%
        );
      }

      &--rating {
        margin-bottom: 3rem;
      }

      &--course {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 2rem;
        padding-bottom: 2rem;

        border-bottom: 1px solid $color-grey-light-3;
      }

      &--star {
        height: 3rem;
        width: 3rem;
        margin-right: 1px;

        vertical-align: middle;

        &--active {
          fill: #55c57a;
        }
        &--inactive {
          fill: #bbb;
        }
      }

      &--name {
        font-size: 2rem;
      }

      &--occupation {
        font-size: 1.75rem;
      }

      &--country {
        font-style: italic;
        font-size: 1.75rem;

        padding-bottom: 2rem;
      }

      &--date {
      }
    }
  }
}
