.join {
  // background-color: yellowgreen;
  background-color: $color-primary-darker;

  grid-column: full-start / full-end;

  padding: 10rem 0;

  display: grid;

  grid-gap: 3rem;

  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 5rem;
  }

  color: white;
  &__title {
    font-size: 4rem;
    max-width: 90rem;
    text-align: center;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 3rem;
    }
  }

  &__text {
    font-size: 2rem;
    text-align: center;
  }

  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
      flex-direction: column;
    }

    &--1 {
      margin-right: 5rem;

      @media only screen and (max-width: $bp-smallest) {
        margin-right: 0;
        margin-bottom: 3rem;
      }
    }

    &--2 {
    }
  }
}
