.requirements {
  // background-color: yellowgreen;
  // background-color: $color-grey-light-1;

  grid-column: full-start / full-end;

  padding: 10rem 0;

  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  grid-gap: 5rem;

  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  overflow-x: hidden;

  @media only screen and (max-width: $bp-smallest) {
    padding: 5rem 0 7.5rem 0;
    grid-gap: 0;
  }

  &__title {
    // background-color: blue;

    grid-row: 1 / 2;
    grid-column: center-start / center-end;
    text-align: center;
    margin-bottom: 5rem;
  }

  &__content {
    // background-color: red;
    background-color: $color-grey-light-1;

    grid-row: 2 / 3;
    grid-column: center-start / center-end;

    display: grid;
    // grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;

    min-width: 70%;
    max-width: 102rem;

    // justify-content: center;
    // align-content: center;
    // justify-items: center;
    // align-items: start;

    text-align: left;

    padding: 5rem;

    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);

    @media only screen and (max-width: $bp-small) {
      padding: 2rem;
    }

    ion-icon {
      vertical-align: middle;
      padding-left: 3rem;
      padding-right: 1rem;
    }
  }
}
