.review {
  // background-color: yellowgreen;
  background-color: $color-white;

  grid-column: full-start / full-end;

  padding: 10rem 0;

  display: grid;
  // grid-template-rows: repeat(5, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  grid-gap: 5rem;

  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  overflow-x: hidden;

  @media only screen and (max-width: $bp-medium) {
    padding: 5rem 0 5rem 0;
  }

  &__title {
    // background-color: blue;

    grid-row: 1 / 2;
    grid-column: center-start / center-end;
    text-align: center;
    margin-bottom: 5rem;
  }

  &__features {
    // background-color: red;

    grid-row: 2 / 3;
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: start;

    text-align: center;

    padding: 5rem 0;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: auto;
    }

    &--card {
      box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
      padding: 3rem;

      width: 100%;
      height: 100%;

      max-width: 50rem;

      position: relative;
    }

    &--name {
      color: $color-primary;
      font-weight: 500;
    }

    &--text {
      &-1 {
        color: $color-secondary;
      }

      &-2 {
        font-size: 1.5rem;
      }

      &-3 {
        font-weight: 700;
      }

      &-4 {
        margin-bottom: 10rem;
      }

      &--img {
        color: white;
        font-size: 7.5rem;
        background-color: $color-primary;
        background-size: 10rem;
        padding: 2rem;
      }

      // clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
      // clip-path: polygon(
      //   25% 10%,
      //   75% 10%,
      //   100% 50%,
      //   100% 50%,
      //   75% 90%,
      //   25% 90%,
      //   0 50%,
      //   0 50%
      // );
      clip-path: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
      );
    }

    &--admin {
      button {
        position: absolute;
        bottom: 3rem;
        right: 3rem;
      }

      a {
        position: absolute;
        bottom: 3rem;
        left: 3rem;
        height: 51px !important;
      }
    }
  }

  &__description {
    // background-color: green;

    grid-row: 3 / 4;
    grid-column: center-start / col-end 4;

    text-align: center;

    // padding: 0 12rem;
    max-width: 40rem;

    // @media only screen and (max-width: $bp-medium) {
    //   grid-column: center-start / center-end;
    //   max-width: 60rem;
    // }

    &--img {
      // background-color: aqua;
      width: 20rem;
      height: 20rem;

      // clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
      // clip-path: polygon(
      //   25% 10%,
      //   75% 10%,
      //   100% 50%,
      //   100% 50%,
      //   75% 90%,
      //   25% 90%,
      //   0 50%,
      //   0 50%
      // );
      clip-path: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
      );
    }
  }
}
