footer.footer
  .footer__title.navbar__main--home.mb-sm
    a(href='/')
      img.footer__title--home.navbar__main--logo(src='/img/logo.png', alt='WebDev Logo')

  .footer__content Copyright &copy; 2020 
    span.footer__content--name
      a.footer__content--link(href='https://github.com/Ochanissi/', target='_blank') Mirel Bițoi
    span.footer__content--rights . All rights reserved.
