nav.navbar
  input#menu-toggle(type='checkbox')
  label.menu-button-container(for='menu-toggle')
    .menu-button

  ul.navbar__main
    li.navbar__main--item
      a.navbar__main--link(href='/') Home
    li.navbar__main--item
      a.navbar__main--link(href='/courses') Courses
    li.navbar__main--item.navbar__main--home
      a(href='/')
        img.navbar__main--logo(src='/img/logo.png', alt='WebDev Logo')
    li.navbar__main--item
      a.navbar__main--link(href='/#about') About
    li.navbar__main--item
      a.navbar__main--link(href='/#contact') Contact
  if user
    ul.navbar__secondary.navbar__secondary--out
      li.navbar__main--item
        a.btn.btn__nav--primary#btn__logout Log out
      li.navbar__main--item
        a(href='/me')
          img.navbar__secondary--img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
  else
    ul.navbar__secondary.navbar__secondary--in
      li.navbar__main--item
        a.btn.btn__nav--primary(href='/login') Log in
      li.navbar__main--item
        a.btn.btn__nav--secondary(href='/signup') Sign up
    