doctype html
html
  head
    title DevEd | #{course}
    link(href='bundle.css' rel='stylesheet')
    link(href='./img/logo.png' rel='shortcut icon' type='img/png')
  
  body
    h1= course
    h2= user.toUpperCase()
    h1 KEK
    p r4cerw rfew rew rew rwe rew rew rew fds fds fa QW AE AW WA