extends base

block content
  section.createcourse
    .createcourse__form
      h2.heading-2--form.mb-lg Create new course
      form.form.form__createcourse#form__createcourse
        .form__group
          label.form__label(for='course__title') Title
            input.form__input#course__title(type='text' name='title' placeholder='The course name' required='' minlength='10' maxlength='50' autocomplete='off')
        .form__group
          label.form__label(for='course__subtitle') Subtitle
            input.form__input#course__subtitle(type='text' name='subtitle' placeholder='A short description of the course' required='' minlength='10' maxlength='200' autocomplete='off')
        .form__group
          label.form__label(for='course__langsound') Sound Languages
            input.form__input#course__langsound(type='text' name='langSound' placeholder='The available sound languages' required='' autocomplete='off')
        .form__group
          label.form__label(for='course__langsubs') Subtitle Languages
            input.form__input#course__langsubs(type='text' name='langSubs' placeholder='The available subtitle languages' required='' autocomplete='off')
        .form__group
          label.form__label(for='course__includesvideo') Number of videos
            input.form__input#course__includesvideo(type='text' name='includesVideos' placeholder='The number of the video lectures' required='' autocomplete='off')
        .form__group
          label.form__label(for='course__includesarticles') Number of articles
            input.form__input#course__includesarticles(type='text' name='includesArticles' placeholder='The number of the articles' required='' autocomplete='off')
        .form__group
          label.form__label(for='course__includescontent') Number of content
            input.form__input#course__includescontent(type='text' name='includesContent' placeholder='The number of the text content' required='' autocomplete='off')
        .form__group
          label.form__label(for='course__summary') Summary
            textarea.form__input#course__summary(type='text' name='learnSummary' placeholder='The summary of the course' minlength='50' maxlength='10000' rows='5' required='' autocomplete='off')
        .form__group
          label.form__label(for='course__description') Description
            textarea.form__input#course__description(type='text' name='description' placeholder='The description of the course' minlength='50' maxlength='10000' rows='5' required='' autocomplete='off')
        .form__group
          label.form__label(for='course__requirements') Requirements
            textarea.form__input#course__requirements(type='text' name='requirements' placeholder='The requirements of the course' minlength='20' maxlength='10000' rows='5' required='' autocomplete='off')
        .form__group
          label.form__label(for='course__pricevalue') Full Price
            input.form__input#course__pricevalue(type='text' name='priceValue' placeholder='The price of the course' required='' autocomplete='off')
        .form__group
          label.form__label(for='course__pricediscount') Price Discount
            input.form__input#course__pricediscount(type='text' name='priceDiscount' placeholder='The price discount %' required='' autocomplete='off')
        .form__group
          label.form__label(for='course__teachers') Teachers
            input.form__input(type='text' placeholder='The course teachers' value=`${user.name}` disabled)
            input.form__input#course__teachers(type='hidden' name='teachers' value=`${user.id}`)
        .form__group
          label.createcourse__dropdown(for='dropdown')
            select.course__category#dropdown(name='category')
              option(value='' selected disabled) Category
              option(value='bm') Business & Management
              option(value='itcs') IT & Computer Science
              option(value='engi') Science, Engineering & Math
              option(value='other') Other
        .form__group.form__photo-upload.createcourse__photo
          img.form__course-photo(src='/img/courses/default.jpg' alt='Course photo')
          input.form__upload#course__photo(type='file' accept='image/*' name='image')
          label(for='course__photo') Choose course photo
        .createcourse__form--btns
          .form__group
            button.btn.form__group--btn Create new course