extends base

block content
  header.header#header
    img.header__logo(src="./img/logo.png" alt="WebDev Logo")
    h1.heading-1 Your Course to Success
    h2.heading-2.mb-sm Build skills with courses, certificates, and degrees online from world-class universities and companies
    a.btn(href="#") View courses